<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
      }
      .container {
        max-width: 600px;
        margin: 50px auto;
        background-color: #ffffff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
      }
      .header {
        background-color: #007bff;
        color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      .header h1 {
        margin: 0;
        font-size: 24px;
      }
      .content {
        padding: 30px;
        text-align: center;
      }
      .content p {
        font-size: 16px;
        color: #333333;
        line-height: 1.5;
        margin: 20px 0;
      }
      .button {
        display: inline-block;
        padding: 10px 15px;
        color: #ffffff;
        background-color: #62a1e4;
        border: none;
        border-radius: 5px;
        text-decoration: none;
      }
      .footer {
        background-color: #f4f4f4;
        color: #666666;
        text-align: center;
        padding: 20px;
        font-size: 12px;
      }
      .button_text {
        color: #ffffff;
        font-size: 16px;
      }
      .footer a {
        color: #007bff;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Verify Your Email</h1>
      </div>
      <div class="content">
        <p>Hi there,</p>
        <p>
          To complete this process and regain access to your account, please
          click the button below. If you did not make this request, you can
          safely ignore this email.
        </p>
        <a
          href="<%= domain %>/user/resetPassword?token=<%= hashedToken %>"
          class="button"
          ><p class="button_text">Verify Your Email</p></a
        >
      </div>
      <div class="footer">
        <p>
          For any questions, contact our support team at
          <a href="mailto:joshrde2002@gmail.com">joshrde2002@gmail.com</a>
        </p>
      </div>
    </div>
  </body>
</html>
